/*{
    text-align: center;
    justify-items: center;
    margin: auto;
}
*/

body {
    font-family: Arial, Helvetica, sans-serif, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    

}
/*
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
*/

.btn {
    font-style:italic;
}

button {
    align-self: center;
    cursor: pointer;
    color: white;
}

.button:hover {
    background-color: rgb(162, 199, 0);
    transition: 0.3s;
}

.button:active {
    background:rgb(255, 0, 0);
}

/*
col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
  }
  */

.container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 20px;
    
}

/*
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
*/

p {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}


/*linies de fons*/


/*
#light{
    position: relative;
    top: 150px;
}
#lineh1{
    position: absolute;
    left: 0;
    height: 10px;
    background: #5500AA;
    animation: lineH 4s 5s infinite linear;
}
#lineh2{
    position: absolute;
    left: 0;
    top: 40px;
    height: 10px;
    background: #AA2B00;
    animation: lineH 5s 0.5s infinite linear;
}
#lineh3{
    position: absolute;
    left: 0;
    top: 70px;
    height: 10px;
    background: #00D4FF;
    animation: lineH 5s 2s infinite linear;
}
#lineh4{
    position: absolute;
    right: 0;
    top: 100px;
    height: 10px;
    background: #00AA2B;
    animation: lineH 5s 1s infinite linear;
}
#lineh5{
    position: absolute;
    left: 0;
    top: 130px;
    height: 10px;
    background: #AA8000;
    animation: lineH 5s 4s infinite linear;
}
#lineh6{
    position: absolute;
    right: 0;
    top: 160px;
    height: 10px;
    background: #AAFF00;
    animation: lineH 4s 1s infinite linear;
}
#lineh7{
    position: absolute;
    right: 0;
    top: 190px;
    height: 10px;
    background: #D50055;
    animation: lineH 4s 0s infinite linear;
}
#lineh8{
    position: absolute;
    left: 0;
    top: 220px;
    height: 10px;
    background: #00FFFF;
    animation: lineH 4s 1.5s infinite linear;
}
#lineh9{
    position: absolute;
    left: 0;
    top: 250px;
    height: 10px;
    background: #2B002B;
    animation: lineH 5s 2s infinite linear;
}
#lineh10{
    position: absolute;
    right: 0;
    top: 280px;
    height: 10px;
    background: #005580;
    animation: lineH 4s 3s infinite linear;
}
#lineh11{
    position: absolute;
    right: 0;
    top: 310px;
    height: 10px;
    background: #FF557F;
    animation: lineH 4s 1s infinite linear;
}
#lineh12{
    position: absolute;
    right: 0;
    top: 340px;
    height: 10px;
    background: #85B085;
    animation: lineH 6s 1s infinite linear;
}
@keyframes lineH{
    0%{
        width: 0%;
    }
    100%{
width: 95%;opacity: 0;
}
}
*/


/*
font: https://codepen.io/ahse/pen/GpRbEr
*/