*{
    text-align: center;
    justify-items: center;
}

body {
    align-items: center;
    margin: 100px;
    margin-top: 300px;
    font-family: Arial, Helvetica, sans-serif, 'Arial Narrow Bold', sans-serif;
    font-size: medium;

}

button {
    align-self: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 30px;
    background-color: rgb(3, 0, 199);
    color: white;
    cursor: pointer;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: rgb(162, 199, 0);
    transition: 0.3s;
}

button:active {
    background:rgb(255, 0, 0);
}



.parking {
    font-size: 20px;
    font-weight: 300;
    line-height: 3rem;
    text-align: justify;
}

.contenedor {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: transparent;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

p {
    margin-bottom: 100px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

